{% extends 'base.html' %}

{% block title %} Categories {% endblock %}

{% block content %}



    <ul class="list-group">
        <li class="list-group-item active">Blog Categories</li>
        {% if categories %}
            {% for cat in categories %}
                <li class="list-group-item">{{ cat.name }} || Created Date : {{ cat.created_at }} <span
                        class="ml-5 btn-danger btn-sm"><a href="
{% url 'category_delete' cat.id %}">Delete</a></span></li>
            {% endfor %}
        {% endif %}
    </ul>

{% endblock %}